<!DOCTYPE html>
<html>
<head>
    <title>Список работников</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/tables.css">
</head>
<style>
    .elastic.hide{
        display: none;
    }
</style>
<body>
    <h1>Список работников</h1>
    <p><a href="/">Главная страница</a></p>
    <p><a href="createWorker">Добавить работника</a></p>
    <input type="text" id="search" placeholder="Поиск по ФИО">
    <table>
        <thead><tr><th>Номер работника</th><th>ФИО</th><th>Номер телефона</th><th>Адресс</th><th>Почта</th><th>Дата начала работы</th><th>Количество детей</th><th></th></tr></thead>
        <tbody>
        {{#each workers}}
            <tr class="elastic">
                <td>{{this.id_Worker}}</td>
                <td>{{this.fullname}}</td>
                <td>{{this.phoneNumber}}</td>
                <td>{{this.address}}</td>
                <td>{{this.email}}</td>
                <td class="date">{{this.date_start}}</td>
                <td>{{this.children}}</td>
                <td>
                    <a href="editWorker/{{this.id_Worker}}">Edit</a>
                    <form action="deleteWorkers/{{this.id_Worker}}" method="POST" style="display:inline;">
                        <input type="submit" value="Delete" id="delete"/>
                    </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <script src="/views/workers/liveSearch.js"></script>
    <script>
        document.querySelectorAll('td.date').forEach(e => {
            let date = new Date(e.textContent);
            let year = date.toLocaleString("default", { year: "numeric" });
            let month = date.toLocaleString("default", { month: "2-digit" });
            let day = date.toLocaleString("default", { day: "2-digit" });
            e.textContent = `${year}-${month}-${day}`;
        });
    </script>
</body>
<html>